/*  CSS Demo Project  */

/*--------------box sizing--------------*/ 

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* -------------- Responsive Images ---------------- */

img {
  max-width: 100%;
}
.container {
  width: 80vw;
  margin: 40px auto;
}

.img-right {
  float: right;
  margin: 10px 0 10px 20px;
  border: 4px double #c0c0c0;
  padding: 5px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
}

.img-left {
  float: left;
  margin: 10px 20px 10px 0;
  border: 4px double #c0c0c0;
  padding: 5px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
}

.img-center {
  border: 4px double #c0c0c0;
  padding: 5px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
  display: block;
  margin: 20px auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
margin: 0;
}

header.primary {
  background-color: #b3cfad;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='44' viewBox='0 0 34 44'%3E%3Cg fill='%23566e30' fill-opacity='0.51'%3E%3Cpath fill-rule='evenodd' d='M1 6.2C.72 5.55.38 4.94 0 4.36v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 22 12.04 12.04 0 0 0 1 28.2c-.28-.65-.62-1.26-1-1.84v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 44h21.6a12.05 12.05 0 0 0 5.2-4.36V26.36A12.05 12.05 0 0 0 28.8 22a12.05 12.05 0 0 0 5.2-4.36V4.36A12.05 12.05 0 0 0 28.8 0H7.2A12.04 12.04 0 0 0 1 6.2zM17.36 23H12a10 10 0 1 0 0 20h5.36a11.99 11.99 0 0 1 0-20zm1.28-2H24a10 10 0 1 0 0-20h-5.36a11.99 11.99 0 0 1 0 20zM12 1a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm0 14a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2zM12 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 43a10 10 0 1 0 0-20 10 10 0 0 0 0 20zm0-14a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 37a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2z'/%3E%3C/g%3E%3C/svg%3E");
color:#DC52F2;
text-align: center;
padding: 100px 60px 100px 60px;
text-shadow: 1px 1px #582161;
}
header.primary h1 {
  font-size: 3rem;
  margin:32px;
}
header.primary h1 a {
  color:#DC52F2;
  text-decoration: wavy line-through;
  text-decoration-color: #582161;
}

header.primary h2 {
  font-size: 2rem;
}
header.primary nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
}

header.primary nav ul li {
  list-style-type: none;
}

header.primary nav a{
  color:#582161;
  font-size: 1rem;
  text-decoration: underline;
  background-color: #c0c0c0;
  background-color: rgba(0, 0, 0, 1.6);
  padding: 8px 16px;
  border-radius: 16px;
  transition: 0.5s;
  border: 1px solid #000;
}
header.primary nav a:hover,
header.primary nav a:active {
  background-color: rgba(0,0,0,0.8);
}

#intro {
  border-top: 20px dotted #b3cfad;
  border-bottom: 20px dotted #b3cfad;
  border-left: 20px dotted #582161;
  border-right: 20px dotted #582161;
  padding-bottom: 14px;
}
#intro h2 {
  color:#F26C52;
}

#content {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap:30px;
  padding-bottom: 2.6rem;
}

#content article.post {
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  padding: 14px;
  font-size: 1.2rem;
  transition: 0.5s;
}

#content article.post:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.8);
}

article.post figure {
  margin:0
}

time.post.date,
figcaption,
.post-meta {
  text-transform: uppercase;
  color: #582161;
  font-size: 0.7rem;
}

article.post img {
  border: solid 12px #F26C52;
  padding:2.5px;
  border-radius: 5px;
}

article.post a {
  color: darkolivegreen;
  transition: 0.5s;
}

article.posta:hover {
  text-decoration: double;
}

#practice {
  line-height: 3.2;
}

#practice h2 {
  border: 3px double #b3cfad;
  padding: 2px;
  box-shadow: 4px 4px 2px rgba(0,0,0,0.8);
  border-bottom: 1px dotted #F26C52;
}

#practice a {
  color: grey;
}

#practice a:hover {
  text-decoration: none;
}

#practice h3{
  border-left:  10px solid #DC52F2;
  padding-left: 15px;
}

#practice blockquote {
  border: 7px #582161;
  padding: 25px 50px;
  margin: 36px 72px;
  border-radius: 30px o;
  background-color: #F28852;
  color: #fff;
  line-height: 2.6;
  text-shadow: 3px 3px #000;
}

#practice cite {
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 12px;
}

table {
  width: 100%;
  border: 3px double #F28852;
  margin: 23 px 0;
  border-collapse: collapse;
}

table-caption {
  font-weight: bold;
  margin: 7px;
}

table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.6);
}


table tr:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

table th {
  background-color: #F28852;
  color: burlywood;
  padding: 14px;
}

table td {
  border: 2px triple #093461;
  padding: 8px;
}

td:nth-child(n + 2) {
  text-align: justify;
}

ol {
  list-style-type: armenian;
}

li {
  list-style-type: disc;
}

ul li > ul {
  list-style-type: circle;
  color: #9F7120;
}

dl {
}
dt {
  font-weight: bold;
}

dd {
  margin: 0;
}

dd + dt {
  margin-top: 34px;
}

aside[role="complementary"] {
  background-color: #8EBEF4;
  color: darkblue;
  padding: 27px;
}

aside .container {
  display: flex;
  flex-direction: row-reverse;
  gap: 39px;
}

aside .container p {
  line-height: 3.5;
}

aside .container a:last-of-type {
  color: #9F7120;
  display: grid;
  text-align: justify;
  margin-top: 21px;
}

aside .container a {
  color: #fff;
}

aside .container .widget footer {
  display: contents;
}

#colophon {
  background-color: #f5ddbd;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%23f5cd8e' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#colophon h6 {
  padding: 45px;
  margin: 1;
  text-align: center;
  color: #000;
}

@media screen and (max-width: 600px) {
  header.primary nav ul {
    flex-direction: column-reverse;
    max-width: 293px;
    margin: auto;
    gap: 14px;
  }
  header.primary nav ul a {
    display: block;
  }
  #content {
    flex-direction: column;
  }
  #content img {
    display: flexbox;
    margin: 20px auto;
  }
  aside .container {
    flex-direction: column;
  }
}
